@import 'node_modules/mfb/src/mfb.scss';
body{
    overflow-x: hidden;
}
nav{
    overflow: hidden;
    z-index: 200;
}
nav ul li{
    padding-right: 30px

}
nav ul li a{
  font-size: 25px;
}
/*Styling for the navigation menu*/
#landing{
    height: 90vh;
    width: 100%;
/*    background-color: #37474F;*/
/*     background-color: #95A5A6;*/
/*    background-attachment: fixed;*/
    overflow: hidden;
/*    margin-top: 5px;*/

}
.polaroid {
  position: relative;
  margin-left: -160px;
  margin-top: 30px;

}

.polaroid img {
  border: 10px solid #fff;
  border-radius: 5px;
  border-bottom: 45px solid #fff;
  -webkit-box-shadow: 3px 3px 3px #777;
     -moz-box-shadow: 3px 3px 3px #777;
          box-shadow: 3px 3px 3px #777;
}

.polaroid p {
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 0px;
  font: 400 18px/1 'Kaushan Script', cursive;
  color: #888;
}
.profile-img{
    margin-top: 30px;
    margin-left: -20px;
}
/*Profile on the right of the landing page*/
.profile-info{
    margin-top: 150px;
    margin-left: -10px;
}
h1{
    color: white;
    font-size: 60px;
    font-family: cardo;
}
/*Now for the Bio Section*/
#Bio{
    width: 100%;
    height: auto;
    text-align: center;
    background-color: #ECEFF1;
    margin-top: -25px;
    font-family: gruppo;
    font-size: 38px;
    z-index: 100;
}
